@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-theme-color: #040916;
    --secondary-them-color: #164670;
}

#start {
    background-image: url("https://user-images.githubusercontent.com/90345024/208805156-690f9a34-6cf1-4c58-b548-544bbe7015d2.jpg");
    height:100vh;
    width: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment:fixed;
} 

#start::before{
    content:"";
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6rem;
    background-image: linear-gradient(transparent, var(--primary-theme-color));
}
